@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

* {
    font-family: "Helvetica", "Tahoma", "Arial", sans-serif;
    word-break: keep-all;
    -webkit-transition: width 0.2s linear, height 0.2s linear, margin 0.2s linear, padding 0.2s linear;
    transition: width 0.2s linear, height 0.2s linear, margin 0.2s linear, padding 0.2s linear;
}

.avatar {
    vertical-align: middle;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 2px solid #aef;
    height: 64px;
    width: 64px;
    margin: 5px;
}

body {
    min-width: 430px;
    font-size: 14px;
    background: #F2F3F4;
    margin: 0;
    padding: 0;
}

.header {
    background: #fff;
    width: 100%;
    height: 200px;
    background-image: url("/images/header-background.jpg");
    background-position: 50% 85%;
    background-size: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top_header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, .5);
    box-shadow: 0px -10px 10px 10px #888;
}

.logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}

.logo img {
    display: block;
    width: 40px;
    height: 40px;
}


.login {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
}

.login form {
    margin: 10px 0;
}

.login input {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    margin-right: 5px;
}

.login b {
    margin: 0 5px;
}

.headline {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-size: 32px;
}

.tabs {
    /* box-sizing: content-box; */
    width: 100%;
    height: 20px;
    text-align: center;
    border-bottom: 4px solid #fff;
}

.tabs > div {
    display: inline-block;
    height: 100%;
    background: rgba(255, 255, 255, .65);
    text-align: center;
    font-size: 14px;
    padding: 5px 10px 0;
    margin-top: -5px;
    border-radius: 3px 3px 0 0;
}

.current_tab,
.tabs>div:hover {
    background: #fff !important;
    font-weight: bold;
    color: #2af;
    cursor: pointer;
    border-bottom: 4px solid #2af;
}

.wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 0 10px;
}

.menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px;
    min-width: 120px;
    font-size: 12pt;
}

.menu > div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: #eee;
    cursor: pointer;
    padding: 5px 20px;
    margin: 2px;
    max-height: 20px;
}

.menu > .current,
.menu > div:hover {
    background: #fff;
}

input,
select {
    background: #fff;
    border: 1px solid #ccc;
    width: 80%;
    margin: 2px;
    padding: 4px;
    font-size: 14px;
}

select {
    max-width: 100%;
    min-width: 70px;
}

button, input[type="button"], input[type="submit"]  {
    background-color: #2af;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    min-height: 30px;
    margin: 0;
    padding: 4px 4px;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.row button {
    width: 95%;
}

button[class*="fontawesome-"] {
    width: 30px !important;
    height: 30px !important;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover  {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2));
    background-image: linear-gradient(rgba(255, 255, 255, .2), rgba(255, 255, 255, .2));
}

button:active {
    margin: 1px 0 0 1px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    outline: none;
}

button:focus {
    outline: none;
}

.green_btn {
    background-color: #1d7;
}

.red_btn {
    background-color: #d45;
}


.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-basis: 80%;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    margin: 10px;
    padding: 0;
    word-break: break-all;
}

.items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
}

.name_link {
    text-align: left;
}

input.number {
    width: 60px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;
    background: #fff;
    color: #222;
    width: 100%;
    box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 4px;
    text-align: center;
}

.row_form {
    border-radius: 3px;
    background: #fff;
    border-radius: 3px;
    color: #222;
    width: 100%;
    box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.description_form {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 0 5px 0;
    margin: 0 5px;
}

.description_form textarea {
    width: 100%;
    height: 64px;
    resize: none;
}

.cell {
    -webkit-flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

.wide_col {
    -webkit-flex-basis: 35% !important;
    -ms-flex-preferred-size: 35% !important;
    flex-basis: 35% !important;
    -webkit-flex-shrink: 0 !important;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.row a {
    color: #2af;
    font-weight: bold;
    overflow: hidden;
    word-break: break-all;
}

.name_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.name_link {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.avatar_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.buttons_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 5px;
}

.buttons_block > button {
    margin: 0 2px !important;
}

.search {
    /*height: 60px;*/
    padding: 5px 0;
    margin-bottom: 20px;
    background-color: #d0e0ff;
    background-image: url("/images/search-icon.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 100px;
}

.row_header {
    height: 40px;
    background: #F8F9FA;
    font-weight: bold;
}

.add_item {
    background: #dfd;
}

div.upload {
    background: url("http://www.syndicaster.tv/wp-content/uploads/2014/03/img_icon-upload-2.png");
    background-size: 64px;
}

div.upload input {
    display: block !important;
    width: 64px !important;
    height: 64px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

.more {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, .3);
    border-radius: 3px;
    cursor: pointer;
}

.more:hover {
    background: rgba(255, 255, 255, .8);
}


.tooltip {
    color:#fff;
    position:absolute;
    text-align: center;
    padding: 5px 7px;
    z-index: 999;
    font-size:14px;
    word-break: keep-all;
    border-radius:2px;
    background: rgba(0, 0, 0, .75);
    visibility:hidden;
    opacity: 0;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
    transition: opacity .3s ease, visibility .3s ease;
}

.tooltip:before {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, .75);
    position:absolute;
    bottom:-5px;
    left:calc(50% - 5px);
}

.tooltip_target:hover .tooltip {
    visibility:visible;
    opacity:1;
}


@media (max-width: 1200px) {
    body {
        font-size: 12px;
    }
    .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 5px 0;
    }
    .menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 10px 0;
    }
    .content {
        margin: 10px 0;
    }
    .content input,
    .content select,
    .content button {
        padding: 0;
        margin: 2px 0;
        font-size: 12px;
    }
    .avatar {
        width: 40px;
        height: 40px;
    }
    .description_form textarea {
        height: 40px;
    }
    .upload input {
        width: 40px !important;
        height: 40px !important;
    }
    .upload {
        background-size: 40px !important;
    }
    .buttons_block {
        padding: 0;
    }
}